/*
Theme Name: BlankSlate
Theme URI: http://wordpress.org/themes/blankslate
Author: TidyThemes
Author URI: http://tidythemes.com/
Description: <strong>UPDATE</strong> - 4.0+ is here, completely overhauled, yet again. As always, <a href="http://tidythemes.com/concept/#upgrading">use caution when upgrading</a> (tidythemes.com/concept/#upgrading) and <a href="http://tidythemes.com/concept/">learn the TidyThemes concept</a> (tidythemes.com/concept). &nbsp; &rarr; <em><strong>CAUTION</strong>: If you're child theming or have clients that are child theming on top of BlankSlate (not the recommended use), please do not blindly upgrade to newer versions.</em> &nbsp; &rarr; <strong>DESCRIPTION</strong>: BlankSlate is the definitive WordPress HTML5 boilerplate starter theme. We've carefully constructed the most clean and minimalist theme available anywhere for designers/developers to use as a base/foundation to build websites for clients or to build completely custom themes from scratch to release faster. Clean, semi-minified, unformatted and valid code, SEO-friendly, no programmer comments, standardized and as white label as possible and most importantly, CSS reset for cross-browser-compatability and no intrusive visual CSS styles added whatsoever. A perfect skeleton theme that blows any others like it (the subsequent underscores.me for example) completely out of the water, as they're simply too overcomplicated for what people really want in this kind of theme. Now comes with jQuery enqueued and ready to go. &nbsp; &rarr; <strong>SUPPORT</strong>: Please use the <a href="http://tidythemes.com/forum/">official support forum</a> (tidythemes.com/forum). Comments and suggestions for improving BlankSlate, please see "<a href="http://tidythemes.com/tidythemes-sucks/">TidyThemes Sucks!</a>" (tidythemes.com/tidythemes-sucks). Just getting started? <a href="http://tidythemes.com/want-to-learn-css/">Want to learn CSS?</a> (tidythemes.com/want-to-learn-css) &nbsp; &rarr; <strong>WHAT'S NEW?</strong>: We stripped down as much custom, extraneous, superfluous junk code as we could and greatly improved the HTML5 structure. <a href="http://make.wordpress.org/themes/author/chipbennett/">Chip Bennett</a> (make.wordpress.org/themes/author/chipbennett), a highly experienced programmer and official WordPress administrator, worked closely with us to audit the theme code for quality. <a href="http://themes.trac.wordpress.org/changeset?old_path=/blankslate/3.3&new_path=/blankslate/4.0">See</a> (themes.trac.wordpress.org/changeset?old_path=/blankslate/3.3&new_path=/blankslate/4.0) just how much we've revamped things. Last, but not least, BlankSlate has now been <a href="https://github.com/tidythemes/blankslate">opened up on GitHub</a> (github.com/tidythemes/blankslate) if anyone would like to make suggested code additions/improvements. Thank you for using BlankSlate.
Version: 4.0.2
License: GNU General Public License
License URI: https://www.gnu.org/licenses/gpl.html
Tags: black, blue, white, light, one-column, fluid-layout, responsive-layout, custom-menu, featured-images, microformats, sticky-post, threaded-comments, translation-ready
Text Domain: blankslate

BlankSlate WordPress Theme © 2011-2014 TidyThemes
BlankSlate is distributed under the terms of the GNU GPL
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{font-size:100%;font:inherit;padding:0;border:0;margin:0;vertical-align:baseline}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}.clear{clear:both}
.sticky{}.bypostauthor{}.wp-caption{}.wp-caption-text{}.gallery-caption{}.alignright{}.alignleft{}.aligncenter{}

.clear {clear:both}

body {
	font-family: 'Open Sans', sans-serif;
	font-size:.9em;
	color:#444;
	font-weight:300;
	line-height:1.5
	}

.droid {font-family: 'Droid Serif', serif;}

h2 {
	font-size:2em
}

h3 {
	font-size:1.5em
}

strong {font-weight:500}

a {
	color:#247dc2;
	text-decoration:none;
}

a:hover {
	color:#24b1af
}

a.green-link {
	font-family: 'Droid Serif', serif;
	font-style:italic;
	color:#6db43f;
	background:url('/wp-content/themes/blankslate/img/download.png') no-repeat right;
	background-size:9px;
	padding-right:15px
}

a.green-link.no-download {
	font-family: 'Droid Serif', serif;
	font-style:italic;
	color:#6db43f;
	background:none;
	background-size:9px;
	padding-right:15px
}

a.green-link:hover {
	color:#247dc2
}

.hoverboard {
	opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.hoverboard:hover {
	opacity:.7
}

.animateblock {
  	-webkit-transition: all 0.55s linear;
  	-moz-transition: all 0.55s linear;
  	transition: all 0.55s linear;
}

.animateblock.animated {
 	opacity: .9;
}

/* STRUCTURE */

.one-col {
	width:33%;
	float:left
}

.two-col {
	width:66%;
	float:left
}

.two-col-center {
	margin-left:auto;
	margin-right:auto;
	float:none
}

.three-col {
	max-width:1024px;
	margin:0 auto 50px auto
}

/* HEADER */

#container {
	max-width:1280px;
	margin:0 auto
}

#header {
	position:fixed;
	width:100%;
	z-index:900
}

#container {
	padding-top:60px
}

#header-inner {
	height:40px;
	background:#fff;
	padding:20px 20px 0 20px
}

#menu {
	float:left;
	width:70%;
}

#menu ul li {
	display:inline;
	padding-right:20px
}

.menu {
  padding: 0;	
}

.menu img {
	width:15px;
}

.util-menu {
	float:right;
	width:30%;
	text-align:right;
}

.util-menu li {
	display:inline
}

#container {
	clear: both;
	max-width:1280px
}

.header-right {
	position: relative;
    top: -10px;
    }

.button {
	height:40px;
	line-height:40px;
	background:#6db43f;
	font-size:1em;
	color:#fff;
	border:none;
	border-radius:8px;
	padding:0 20px 0 20px;
	display:inline-block;
	margin-left:10px;
}

a.button:hover {
	color:#fff;
	background:#5ba22e
}

/* PAGE HEADERS */

.page-header {
	background:#ccc;
	height:275px;
}

.page-header-inner {
	max-width:1024px;
	margin: 0 auto;
	padding-top:20px;
	position:relative
	
}

.page-header-inner img.header-icon {
	position:absolute;
	top:20px;
	right:0
	
}

.page-header h3 {
	color:#fff;
	background:url('/wp-content/themes/blankslate/img/logo-small.png') no-repeat;
	background-size:40px;
	padding-left:50px;
	height:40px;
}

.page-header h1 {
	font-family: 'Droid Serif', serif;
	font-size:3.5em;
	font-style:italic;
	color:#fff;
	
}



/* Home Header */

.home-video {
	position: absolute;
	width: 100%;
	z-index:-10;
	height:440px;
	left:0
	
}

.home-video-overlay {
	width:100%;
	height:440px;
	background: #000;
	position:absolute;
	top:0;
	z-index:50;
	opacity: .2;

}

.home-header {
	height:440px;
	text-align:center;
	background:none
}

.home-header .page-header-inner {
	position:relative;
	z-index:100
}

.home-header h1 {
	color:#fff;
	font-size:3em;
	padding:20px 0 36px 0;
}

.home-nav li {
	display:inline-block;
	width:300px;
	opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.home-nav li:hover {
	opacity:.7
}

.home-nav a {
	color:#fff;
	font-weight:600;
}

.home-nav img {
	padding-top:10px
}

.prof-header .page-header-inner,
.cirric-header .page-header-inner,
.assess-header .page-header-inner {
	padding-top:80px
}

.prof-header {
	background:url('/wp-content/themes/blankslate/img/header-professional.jpg');
}

.cirric-header {
	background:url('/wp-content/themes/blankslate/img/header-cirriculum.jpg');
}

.assess-header {
	background:url('/wp-content/themes/blankslate/img/header-assessment.jpg');
}

.general-header {
	background:#a3d8f5;
	height:175px
}




/* PAGE CONTENT */

.page-content {
	max-width:1280px;
	margin:0 auto;
	background:#fff;
	position:relative;
	z-index:99
}

.sub-heading {
	max-width:680px;
	margin:0 auto;
	text-align:left;
	padding:50px 0 50px 0;
	font-size:1.2em;
	line-height:1.7
}

.hex-rule-line {
	max-width:775px;
	height:30px;
	background:url('/wp-content/themes/blankslate/img/hex-rule-line.png') no-repeat center;
	margin:0 auto
}

.page-content table {
	margin-top:20px;
}

.page-content table tr td:first-child {
	font-weight:600;
	padding-right:20px
}



.prof-content h2 {
	color:#247dc2; /* blue */
	text-align:right;
	padding:0 20px 0 0
}

.prof-content h3 {
	text-align:right;
	padding: 0 20px 0 0;
	font-size:1em
}


.cirric-content .one-col {
	text-align:center
}

.cirric-content h2 {
	color: #989ccc; /* purple */
}

.assess-content h2 {
	color: #24b1af /* teal */
}

.subscribe-button {
	position:fixed;
	left:0px;
	bottom:30px;
	z-index:900
}

.subscribe-button img {
	width:200px
}

.testimonials-content { max-width:600px; padding-top:40px; padding-bottom:40px }
.testimonials-content .ivycat-testimonial { padding-bottom:40px }
.testimonials-content .testimonial-source {padding-top:5px; font-weight:500; font-style:italic}

.contact-content {max-width:600px; padding-top:40px;padding-bottom:40px}

/* Home Content */

.home-content {
	padding-top:65px
}

.banner-content {
	background:#a3d8f5;
	padding:20px
}

.banner-content.white {
	background:#fff
}

.banner-content-inner {
	max-width:1024px;
	margin:0 auto
}

.banner-content-left {
	float:left;
	width:512px;
	text-align:center
}

.banner-content-left.text {
	text-align:left;
}

.banner-content-right {
	float:right;
	width:512px;
}

.banner-content-right.photo {
	text-align:center
}

/* FOOTER */

#footer {
	background:#fff;
	position:relative;
	z-index:100
}

.testimonials {
	background:#efefef;
	text-align:center
}

.testimonials .hex-icon {
	margin-top:-22px;
}

.testimonial {
	margin:0 auto;
	width:512px;
	padding:30px 0 50px 0
}

.testimonial p {
	font-size:1.1em;
	font-style:italic;
	padding-bottom:10px
}

.testimonial label {
	font-size:1.1em;
	text-transform:uppercase
}

.footer-rule {
	width:100%;
	height:1px;
	border-top:1px #ddd solid;
	margin-top:185px;
}

.footer-nav {
	text-align: center;
	position: absolute;
	width: 100%;
	margin-top: -128px;
}

.footer-nav li {
	display:inline-block;
	width:180px;
	opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.footer-nav li:hover {
	opacity:.7
}

.footer-nav a {
}

.footer-nav img {
	padding-top:10px
}

#copyright {
	border-top:1px solid #efefef;
	margin-top: 130px;
	font-size:.8em;
	text-align:center;
	padding:5px 0 10px 0
}


.doifd_user_reg_form {
	width:100% !important;
	-webkit-box-shadow:none !important; 
	box-shadow:none !important;
	border:1px #ddd solid;
	background:#e9e9e9 !important
	}

.doifd_user_reg_form input[type=text] {
	border:1px #ccc solid !important;
	border-radius:8px;
	padding:10px;
	font-size:1em;
	background:#fff !important
}

#doifd_download_form.button {
	height:40px;
	line-height:40px;
	background:#6db43f;
	font-size:1.3em;
	color:#fff;
	border:none;
	border-radius:8px;
	padding:0 20px 0 20px
}

.doifd_success_msg {
    background: #bee1a8;
    border-radius: 8px;
    margin-top: 20px;
    
}

.thankyou {
	width:100% !important;
	-webkit-box-shadow:none !important; 
	box-shadow:none !important;
	position:relative;
	top:-10px;
}

.thankyou input[type=submit] {
height:40px;
	line-height:40px;
	background:#6db43f;
	font-size:1.3em;
	color:#fff;
	border:none;
	border-radius:8px;
	padding:0 20px 0 20px
}


/* RESPONSIVE MENU */

a.open-panel, a.close-panel {
  display: none;
}

@media only screen and (max-width: 1024px) {
  
  .icon-mobile-menu {
  	width:36px;
  	height:23px;
  	background: url('/wp-content/themes/blankslate/img/icon-mobile-menu.png');
  	background-size:36px 23px;
  }
  
  .icon-mobile-menu-close {
  	width:30px;
  	height:30px;
  	background: url('/wp-content/themes/blankslate/img/icon-close.png') no-repeat center;
  	background-size:30px 30px;
  	padding:20px
  }
  
  #container {
    padding-top: 0;
  }
  
 /* Move nav off screen, setup transitions */
 nav {
    width: 70%;
    position: absolute;
    left: -70%;
    top: 0;
    background: #e9e9e9;
  }
  
  /* Display nav items vertically */
  ul.menu {
    
    li {
      float: none;
      width: 100%;
      text-align: left;
      padding: .5em 1em;
      box-sizing: border-box;
      border-bottom: 1px solid #888;
      
    }
  }
  
  /* Reveal open/close buttons */
  a.open-panel, a.close-panel {
    display: inline;
  }
  
  .close-panel {
    position: relative;
    top: .5em;
    left: 1em;
  }

  .openNav #wrapper {
    left: 0;
    -webkit-transform: translate3d(70%, 0, 0);
    -moz-transform: translate3d(70%, 0, 0);
    -ms-transform: translate3d(70%, 0, 0);
    -o-transform: translate3d(70%, 0, 0);
    transform: translate3d(70%, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
  }
  
  /* When the panel is closed, transition the wrapper back to the left */
  #wrapper {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
  }
  
  #menu ul {
  	padding:20px 20px 20px 35px
  }
  
  #menu ul li {
		display:block;
		padding-bottom:20px
	}

	#menu ul li a {
		
	}
  
}

@media only screen
and (max-width : 1024px) {

	
	.home-video {
		display:none
	}
	
	.home-header {
		background:#a3d8f5;
		height:auto;
		padding-bottom:20px
	}
	
	.home-nav li {
		width:30%
	}
	
	.page-header {
		padding-top:60px;
		background-position:center 60px;
	}
	
	.page-header-inner {
		width:90%
	}
	
	.prof-header .page-header-inner img, .cirric-header .page-header-inner img, .assess-header .page-header-inner img {
		display:none
	}
	
	.page-header h1 {
		line-height:1
	}
	


	.util-menu {
		margin-top:-20px
	}
	
	.home-content {
    	padding-top: 0px;
	}
	
	
	.banner-content-left {
    	float: none;
    	width: auto;
    	padding:0 !important;
    	
	}
	
	.banner-content-right {
    	float: none;
    	width: 90%;
    	text-align:center;
    	padding:0 !important;
    	margin:20px auto
	}
	
	.banner-content-left.text {
		text-align:center
	}
	
	
	
	
	
}

@media only screen
and (max-width : 600px) {
.util-menu {width:70%}

	.home-nav li {
		width:90%;
		padding-bottom:20px
	}
	
	.sub-heading {
    	max-width: 90%;
    	margin: 0 auto;
    	text-align: center;
    }
    
    .testimonial {
		width:90%
	}
	
	.footer-nav img {
		display:none
	}
	
	.footer-nav {
		margin-top:20px;
		position:static
	}
	
	.footer-nav li {
    	width: 90%;
    	padding-bottom:20px
    }
    
    .footer-rule {
    	display:none
    }
    
    #copyright {
    	margin-top:10px
    }
    
    #copyright a {
		display:block;
	}	
	
	.page-header h1 {
		font-size:2.5em;
		text-align:center
	}
	
	.page-header h3 {
		line-height:1;
		font-size:1em;
		background:none;
		padding-left:0;
		text-align:center
	}
	
	.three-col {
		width:90%
	}
	
	.two-col {
		width:100%;
		float:none;
	}
	
	.one-col {
		width:100%;
		float:none;
		padding-bottom:10px
	}
	
	.prof-content h2, .prof-content h3 {
		text-align:left
	}
}